/* EventCalendar.css */

.container {
    text-align: center;
    color: white;
}

.event-form {
    margin-bottom: 20px;
}

.react-calendar {
    width: 100%;
}

.react-calendar__tile {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    /* Color del número del día */
}

.event-list {
    list-style: none;
    padding: 0;
}

.event-item {
    margin-bottom: 10px;
}