.bottom-container {
   padding-top: 35px;
}

.BottomNavBar {
   background-color: #1D1D1D;
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 100;
   /* Adjust the z-index as needed to ensure it appears above other content */
}

.bottom-menu {
   background-color: #1D1D1D;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.home,
.statistics,
.news,
.strats,
.matches {
   margin: 0 15px;
   /* Agrega un margen horizontal de 10px entre los elementos */
}

.color {
   color: #73EFEF;
}

.homeStyle,
.statisticsStyle,
.newsStyle,
.stratsStyle,
.matchesStyle {
   font-size: 30px;
}