.container {
    display: flex;
    flex-direction: column;
    /* This sets the direction to be vertical, creating a single column. */
}

.box {
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(to bottom, #ff5733, #ffcc33);
    /* Define gradient for the border */
}

.box1 {
    background: linear-gradient(to bottom, #73EFEF, #73EFEF);
}

.box2 {
    background: linear-gradient(to bottom, #73EFEF, #2045E2);
}

.box3 {
    background: linear-gradient(to bottom, #9642EE, #DB5CCB);
}

.box4 {
    background: linear-gradient(to bottom, #DB5CCB, #EB3E83);
}

.box5 {
    background: linear-gradient(to bottom, #EB3E83, #EB3E83);
}

.content {
    background: #070320;
    /* Background color for the content */
    border-radius: 5px;
    padding: 10px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team1, .schedule, .team2 {
    padding: 0 5em; /* Add some padding to space the content */
  }